body{
margin:0;
font-family:Arial;
background:black;
color:white;
text-align:center;
}

h1{
color:lime;
}

#game{
width:90vw;
height:65vh;
background:darkgray;
margin:20px auto;
border:2px solid lime;
position:relative;
overflow:hidden;
cursor:crosshair;
}

#target{
width:45px;
height:45px;
background:red;
border-radius:50%;
position:absolute;
display:none;
box-shadow:0 0 20px red;
}

button{
color:white;
padding:12px 20px;
font-size:16px;
margin:10px;
border:none;
border-radius:8px;
cursor:pointer;
font-weight:bold;
}

#startBtn{
background:green;
}

#resetBtn{
background:red;
}

#clearBtn{
background:orange;
}

input{
padding:12px;
border-radius:8px;
border:none;
font-size:16px;
}

.stats{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
margin-top:20px;
color:black;
}

.box{
background:lightblue;
padding:10px 20px;
border-radius:10px;
}

table{
margin:20px auto;
width:80%;
border-collapse:collapse;
background:darkgray;
}

th,td{
border:1px solid grey;
padding:10px;
}

th{
background:lime;
color:black;
}

#countdown{
font-size:50px;
font-weight:bold;
color:lime;
height:50px;
}